.my-custom-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    display: none;
}
.zA:hover .my-custom-button {
    display: block;
}